input[type=color] {
    background:none;
    width: 200px;
    height: 50px;
    padding: 0px 0px;
    margin: 8px 0;
}
.center {
      text-align: center;
}
.header {
    text-align: center;
    font-size: 25px;
    padding: 60px;
}
body {
    background-color: beige;
}