<!DOCTYPE html>
<html>
    <div>
        <style>
            body {
                background-color: beige;
            }
            .element {
                border-style: outset;
                background-color: #d9b382;
                border-color: black;
                outline: 2px;
                outline-style: outset;
            }
            img{
                width:25%;
                max-width:200px;
            }
        </style>
    </div>
    <div>
        <div> <!-- Image and name -->
            <img src="{{image}}">
        </div>
        <div> <!-- Bio -->

        </div>
        <div> <!-- Resume -->

        </div>
    </div>
</html>